body {
  background: radial-gradient(circle, rgba(88,88,88,1) 0%, rgba(64,64,64,1) 13%, rgba(24,24,24,1) 45%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #bf000a;
}

.nav-list {
  display: inline-flex;
  margin-right: 5%;
  list-style: none;
  text-decoration: none;
  color: #F0F8FF;
  letter-spacing: 1px;

}

.nav-list li {
  margin: 0 40px;
  font-weight: bold;
}

.nav-list li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.top {
  padding: 80px 0 0 0;
}

ul {
  list-style: none;

  line-height: 1.5;
}

.row  {
  display: flex;
  column-gap: 50px;
  padding: 25px 50px 50px 50px;
}

.top_row {
  padding-top: 125px;
}

.lorem1, .lorem2, .lorem3, .lorem4, .lorem5, .lorem6 {
  column-count: 2;
  display: flex;
  width: 100%;
  color: #FFFAF0;
  border: 2px solid black;
  column-gap: 30px;
  height: 200px;
  align-items: center;
  align-content: center;
}

.lorem1, .lorem3, .lorem5 {
  margin: 0 0 0 50px;
}

.lorem2, .lorem4, .lorem6 {
  margin: 0 50px 0 0;
}

.text {
  column-width: 115px;
}

.lorem1 {
  background-image: url();
  background-size: cover;
  color: #ffffff;
}

.lorem2 {
  background-image: url();
  background-size: cover;
  color: #ffffff;
}

.lorem3 {
  background-image: url();
  background-size: cover;
  color: #ffffff;
}

.lorem4 {
  background-image: url();
  background-size: cover;
  color: #ffffff;
}

.lorem5 {
  background-image: url();
  background-size: cover;
  color: #ffffff;
}

.lorem6 {
  background-image: url();
  background-size: cover;
  color: #ffffff;
}

footer {
  font-weight: 200;
  display: flex;
  background: #bf000a;
  margin: 20px -8px -10px -10px;
}
footer > p {
  margin: 1.5rem;
  color: #f4f0ff;
}

